generator:
  class: sfDoctrineGenerator
  param:
    model_class:           local
    theme:                 yonohagofila
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          local
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:  ~
      list:
        title: Lista de Locales
        display: [ nombre, imagen, estado, fecha_creacion ]
      filter:
        display: [ nombre, estado, fecha_creacion ]
      form:    ~
      edit:  
        display: [ nombre, imagen, estado ]
      new:  
        display: [ nombre, imagen, estado ]
