generator:
  class: sfDoctrineGenerator
  param:
    model_class:           usuario
    theme:                 yonohagofila
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          usuario
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions:
        _delete: { credentials: [ALL ] }
      fields: 
        tipo_identificacion: { label: Tipo Identificacion }
        estado: { label: Ranking }
      list:
        title: Lista de Usuarios
        display: [ nombre, email, identificacion, foto, estado, fecha_nacimiento]
        object_actions: {}
      filter: 
        display: [ nombre, email,identificacion, estado ]
      form:    ~
      edit:    ~
      new: 
        display: [ perfil_id, nombre, email, contrasena, tipo_identificacion, identificacion, foto, estado, fecha_nacimiento ]
